---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ホームページ">
	<section>
		<a href="/">ホーム</a>
		<a href="/about">概要</a>
		<a href="/blog">ブログ</a>
		<h1>私のAstroサイト</h1>
	</section>
</Layout>
